<div class="note">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
        <label class = 'form-label'>Title</label>
        <input class="form-control" formControlName="title">
        </div>  
        <div class="mb-3" >
          <label class = 'form-label'>Content</label>
          <textarea class="form-control" formControlName="content" rows="5"></textarea>
          <br>
          <button type="submit" class="btn btn-success">Add</button>
       </div>  
      </form>
    </div>